*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}


.container{

  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{

  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo img{

  width: 150px;
  margin-left: 10px;
}

.menu{

  color: white;
  float: left;
  font-weight: bold;
  position: relative;
  left: -400px;;
}
.menu span{

  padding: 10px;
}

.header button{

  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  background-color: red;
  color: gold;
  font-weight: bold;
}

.searchbar i{

margin-right: 10px;

}

.colltitle{

  height: 30px;
  margin-left: 20px;
  color: red;
}

.collection{

  min-height: 400px;
  width: 100%;
  /* border: 1px solid gold; */
  display: flex;
  overflow: auto;

}


.collection::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}

.collection::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.collection::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: gold;
  /* outline: 2px solid slategrey; */
}

.collection::-webkit-scrollbar:vertical {
  display: none;
}

.card{

  width: 300px;
  height: 370px;

  color: white;
  flex-shrink: 0;
  position: relative;

}

.description{

  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  height: 370px;
  width: 300px;
  z-index: 999;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

}

.card:hover .description{

  display: flex;

}

.poster img{

  height: 370px;
  width: 300px;
}

.lingua{

  display: flex;
  align-items: center;
  padding-left: 10px;
}

.lingua img{

  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-left: 10px;
  text-align: center;
}
.grey{
  color: grey;
}
.gold{

  color: gold;
}
